<div class="footer dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8">
        <div class="copyright">
          <p>© Copyright 2019 <a href="#">Tradix</a> I All Rights Reserved</p>
        </div>
      </div>
      <div class="col-xl-3" ng-controller="getDataAdmin">
        <div class="footer-links">
          <ul class="d-flex justify-content-around">
            <li>
              <a
                href="#!/faq"
                ng-class="{'active': isActive('/faq')}"
                class="font-weight-bold"
                ><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ &
                Help</a
              >
            </li>
            <li>
              <a
                href="#!/about"
                ng-class="{'active': isActive('/about')}"
                class="font-weight-bold"
                ><i class="fas fa-info-circle"></i> About</a
              >
            </li>
            <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
