<div class="footer dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <div class="copyright">
                    <p>© Copyright 2019 <a href="#">Tradix</a> I All Rights Reserved</p>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="footer-social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>