<div class="sidebar">
  <div class="menu">
    <ul ng-controller="getDataAdmin">
      <li>
        <a
          href="#!/dashboard"
          data-toggle="tooltip"
          ng-click="reloadRoute()"
          data-placement="right"
          title="Home"
        >
          <span><i class="la la-igloo"></i></span>
        </a>
      </li>
      <li>
        <a
          href="#!/wallet"
          data-toggle="tooltip"
          data-placement="right"
          title="Wallets"
        >
          <span><i class="la la-wallet"></i></span>
        </a>
      </li>
      <li>
        <a
          href="#!/transact"
          data-toggle="tooltip"
          data-placement="right"
          title="Transact"
        >
          <span><i class="la la-exchange"></i></span>
        </a>
      </li>
      <li>
        <a
          href="#!/history"
          data-toggle="tooltip"
          data-placement="right"
          title="History"
        >
          <span><i class="la la-history"></i></span>
        </a>
      </li>
      <li>
        <a
          href="#!/settings"
          data-toggle="tooltip"
          data-placement="right"
          title="Setting"
        >
          <span><i class="la la-tools"></i></span>
        </a>
      </li>
    </ul>
  </div>
</div>
