       <!--------------------
START - Mobile Menu
-------------------->
            <nav-test></nav-test>
     <!--------------------
END - Main Menu
-------------------->
            <div class="content-w">
                <!--------------------
START - Top Bar
-------------------->
                <div class="top-bar color-scheme-transparent">
                    <!--------------------
START - Top Menu Controls
-------------------->
                    <div class="top-menu-controls">
                        <div class="element-search autosuggest-search-activator">
                            <input placeholder="Start typing to search..." type="text">
                        </div>
                        <!--------------------
START - Messages Link in secondary top menu
-------------------->
                        <user-logged-in></user-logged-in>
                        <!--------------------
END - User avatar and menu in secondary top menu
-------------------->
                    </div>
                    <!--------------------
END - Top Menu Controls
-------------------->
                </div>

                <div class="content-i">
                    <div class="content-box">
      				  <div class="row">
                            <div class="col-sm-12">
                           <div class="element-content">
    <div class="row">
	  <div class="col-sm-3">
            <a class="element-box el-tablo" href="#">
                <div class="label">Wallet</div>
                <div class="value">&#8358;{{rider.walletBalance}}</div>
                <div class="trending trending-up-basic"><span></span><i class="os-icon os-icon-arrow-up2"></i></div>
            </a>
        </div>
		<div class="col-sm-3">
            <a class="element-box el-tablo" href="#" ng-controller="RiderTripsController">
                <div class="label">Trips Done</div>
                <div class="value">{{length}}</div>
                <div class="trending trending-up-basic"><span></span><i class="os-icon os-icon-arrow-up2"></i></div>
            </a>
        </div>
   	  <div class="col-sm-6">
            <div class="profile-tile">
    <a class="profile-tile-box" href="users_profile_small.html">
        <div class="pt-avatar-w"><img alt="" src="{{rider.avatar}}"></div>
        <div class="pt-user-name">{{rider.firstName + " " + rider.lastName}}</div>
    </a>
    <div class="profile-tile-meta">
                                        <ul>
                                            <li>Phone:<strong>{{rider.phone}}</strong></li>
											<li>status:<strong>verified</strong></li>
                                        </ul>
    </div>
</div>
        </div>
		
    </div>
</div>  
<div class="element-wrapper">
                           <div class="element-wrapper">
                                    <div class="element-box">
                                        <div class="table-responsive">
                                            <table class="table table-lightborder" ng-controller = "RiderTripsController">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Id</th>
														<th class="text-center">Rider Id</th>
                                                        <th class="text-center">Pickup address</th>
                                                        <th class="text-center">Drop address</th>
                                                        <th class="text-center">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-repeat = "trip in ridertrips">
                                                    <tr>
                                                        <td>
                                                            {{trip.id}}
                                                            <!-- <div class="user-with-avatar"><img alt="" src="img/avatar1.jpg"><span class="d-none d-xl-inline-block smaller lighter">John Mayers</span></div> -->
                                                        </td>
                                                        <td class="text-center smaller lighter">{{trip.riderId}}</td>
                                                        <td class="text-center"><span class="smaller lighter">{{trip.pickUp}}</span></td>
														<td class="text-center"><span class="smaller lighter">{{trip.dropOff}}</span></td>
														<td class="text-center" ng-controller = "RiderTripsController"><span class="smaller lighter text-white rounded py-1 px-2 {{changeBg(trip.status)}}">{{trip.status}}</span></td>
														
                                                    </tr>
                                                    <!-- <tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar2.jpg"><span class="d-none d-xl-inline-block smaller lighter">Kelly Brans</span></div>
                                                        </td>
                                                        <td class="text-center smaller lighter">Will smith</td>
                                                        <td class="text-center"><span class="smaller lighter">10a kingsley emu street, lekki lagos</span></td>
														<td class="text-center"><span class="smaller lighter">Suite G5 arcadia muse estate, agungi lagos</span></td>
														<td class="text-center"><span class="smaller lighter">₦ 1,500</span></td>
														<td class="text-center"><button class="mr-2 mb-2 btn btn-secondary btn-sm" type="button">Wallet</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar3.jpg"><span class="d-none d-xl-inline-block smaller lighter">Tim Howard</span></div>
                                                        </td>
                                                        <td class="text-center smaller lighter">Will smith</td>
                                                        <td class="text-center"><span class="smaller lighter">10a kingsley emu street, lekki lagos</span></td>
														<td class="text-center"><span class="smaller lighter">Suite G5 arcadia muse estate, agungi lagos</span></td>
														<td class="text-center"><span class="smaller lighter">₦ 1,500</span></td>
														<td class="text-center"><button class="mr-2 mb-2 btn btn-secondary btn-sm" type="button">Wallet</button></td>
                                                    </tr>
													<tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar1.jpg"><span class="d-none d-xl-inline-block smaller lighter">John Mayers</span></div>
                                                        </td>
                                                       <td class="text-center smaller lighter">Will smith</td>
                                                        <td class="text-center"><span class="smaller lighter">10a kingsley emu street, lekki lagos</span></td>
														<td class="text-center"><span class="smaller lighter">Suite G5 arcadia muse estate, agungi lagos</span></td>
														<td class="text-center"><span class="smaller lighter">₦ 1,500</span></td>
														<td class="text-center"><button class="mr-2 mb-2 btn btn-secondary btn-sm" type="button">Wallet</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar2.jpg"><span class="d-none d-xl-inline-block smaller lighter">Kelly Brans</span></div>
                                                        </td>
                                                      <td class="text-center smaller lighter">Will smith</td>
                                                        <td class="text-center"><span class="smaller lighter">10a kingsley emu street, lekki lagos</span></td>
														<td class="text-center"><span class="smaller lighter">Suite G5 arcadia muse estate, agungi lagos</span></td>
														<td class="text-center"><span class="smaller lighter">₦ 1,500</span></td>
														<td class="text-center"><button class="mr-2 mb-2 btn btn-secondary btn-sm" type="button">Wallet</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar3.jpg"><span class="d-none d-xl-inline-block smaller lighter">Tim Howard</span></div>
                                                        </td>
                                                       <td class="text-center smaller lighter">Will smith</td>
                                                        <td class="text-center"><span class="smaller lighter">10a kingsley emu street, lekki lagos</span></td>
														<td class="text-center"><span class="smaller lighter">Suite G5 arcadia muse estate, agungi lagos</span></td>
														<td class="text-center"><span class="smaller lighter">₦ 1,500</span></td>
														<td class="text-center"><button class="mr-2 mb-2 btn btn-secondary btn-sm" type="button">Wallet</button></td>
                                                    </tr>
													<tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar3.jpg"><span class="d-none d-xl-inline-block smaller lighter">Tim Howard</span></div>
                                                        </td>
                                                        <td class="text-center smaller lighter">Will smith</td>
                                                        <td class="text-center"><span class="smaller lighter">10a kingsley emu street, lekki lagos</span></td>
														<td class="text-center"><span class="smaller lighter">Suite G5 arcadia muse estate, agungi lagos</span></td>
														<td class="text-center"><span class="smaller lighter">₦ 1,500</span></td>
														<td class="text-center"><button class="mr-2 mb-2 btn btn-secondary btn-sm" type="button">Wallet</button></td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
											<div class="controls-below-table">
                                            <div class="table-records-info" ng-controller="RiderTripsController">Showing records 1 - {{length}}</div>
                                            <!-- <div class="table-records-pages">
                                                <ul>
                                                    <li><a href="#">Previous</a></li>
                                                    <li><a class="current" href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                    <li><a href="#">Next</a></li>
                                                </ul>
                                            </div> -->
                                        </div>
                                        </div>
                                    </div>
                                </div>    </div>
								</div>
						 </div>
				       <!--------------------
START - Color Scheme Toggler
-------------------->
                        <!-- <div class="floated-colors-btn second-floated-btn">
                            <div class="os-toggler-w">
                                <div class="os-toggler-i">
                                    <div class="os-toggler-pill"></div>
                                </div>
                            </div><span>Dark </span><span>Colors</span></div> -->
                        <!--------------------
END - Color Scheme Toggler
-------------------->
                        <div class="floated-chat-w">
                            <div class="floated-chat-i">
                                <div class="chat-close"><i class="os-icon os-icon-close"></i></div>
                                <div class="chat-head">
                                    <div class="user-w with-status status-green">
                                        <div class="user-avatar-w">
                                            <div class="user-avatar"><img alt="" src="img/avatar1.jpg"></div>
                                        </div>
                                        <div class="user-name">
                                            <h6 class="user-title">John Mayers</h6>
                                            <div class="user-role">Account Manager</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-messages">
                                    <div class="message">
                                        <div class="message-content">Hi, how can I help you?</div>
                                    </div>
                                    <div class="date-break">Mon 10:20am</div>
                                    <div class="message">
                                        <div class="message-content">Hi, my name is Mike, I will be happy to assist you</div>
                                    </div>
                                    <div class="message self">
                                        <div class="message-content">Hi, I tried ordering this product and it keeps showing me error code.</div>
                                    </div>
                                </div>
                                <div class="chat-controls">
                                    <input class="message-input" placeholder="Type your message here..." type="text">
                                    <div class="chat-extra"><a href="#"><span class="extra-tooltip">Attach Document</span><i class="os-icon os-icon-documents-07"></i></a><a href="#"><span class="extra-tooltip">Insert Photo</span><i class="os-icon os-icon-others-29"></i></a><a href="#"><span class="extra-tooltip">Upload Video</span><i class="os-icon os-icon-ui-51"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!--------------------
END - Chat Popup Box
-------------------->
                    </div>
                </div>
            </div>
        </div>
        <div class="display-type"></div>
    </div>
    