<div ng-include src="'templates/includes/header.html'"></div>

<div ng-include src="'templates/includes/side-nav.html'"></div>

<!--<div class="page-title dashboard">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-xl-12">-->
<!--                <div class="page-title-content">-->
<!--                    <p>Welcome Back,-->
<!--                        <span> Maria Pascle</span>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-xxl-4">
            </div>

            <div class="col-xl-6 col-lg-8 col-xxl-8">
                <div class="card">

                    <div class="card-body" ng-controller="BaseController">
                        <div class="row">
                            <div class="col-xl-12 col-lg-6 col-xxl-6">
                                <div class="widget-card">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="widget-stat">
                                            <div class="coin-title">
                                                <span><i class="cc BTC"></i></span>
                                                <h5 class="d-inline-block ml-2 mb-3">Bitcoin
                                                </h5>
                                            </div>
                                            <h4>USD {{currentUser.user.btc_wallet_amount}} </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-12 col-xxl-12">

            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-xxl-4">
                <exchange-form></exchange-form>
            </div>
            <div class="col-xl-9 col-lg-8 col-xxl-8">
                <div class="card">
                    <div class="card-header border-0 py-0">
                        <h4 class="card-title">Recent Activities</h4>
                        <a href="#">View More </a>
                    </div>
                    <div class="card-body">
                        <div class="transaction-table">
                            <div class="table-responsive">
                                <table class="table mb-0 table-responsive-sm">
                                    <tbody>
                                    <tr>
                                        <td><span class="sold-thumb"><i class="la la-arrow-down"></i></span>
                                        </td>

                                        <td>
                                            <span class="badge badge-danger">Sold</span>
                                        </td>
                                        <td>
                                            <i class="cc BTC"></i> Bitcoin
                                        </td>
                                        <td>
                                            Using - Bank *******5264
                                        </td>
                                        <td class="text-danger">-0.000242 BTC</td>
                                        <td>-0.125 USD</td>
                                    </tr>
                                    <tr>
                                        <td><span class="buy-thumb"><i class="la la-arrow-up"></i></span>
                                        </td>
                                        <td>
                                            <span class="badge badge-success">Buy</span>
                                        </td>
                                        <td>
                                            <i class="cc LTC"></i> Litecoin
                                        </td>
                                        <td>
                                            Using - Card *******8475
                                        </td>
                                        <td class="text-success">-0.000242 BTC</td>
                                        <td>-0.125 USD</td>
                                    </tr>
                                    <tr>
                                        <td><span class="sold-thumb"><i class="la la-arrow-down"></i></span>
                                        </td>
                                        <td>
                                            <span class="badge badge-danger">Sold</span>
                                        </td>
                                        <td>
                                            <i class="cc XRP"></i> Ripple
                                        </td>
                                        <td>
                                            Using - Card *******8475
                                        </td>
                                        <td class="text-danger">-0.000242 BTC</td>
                                        <td>-0.125 USD</td>
                                    </tr>
                                    <tr>
                                        <td><span class="buy-thumb"><i class="la la-arrow-up"></i></span>
                                        </td>
                                        <td>
                                            <span class="badge badge-success">Buy</span>
                                        </td>
                                        <td>
                                            <i class="cc DASH"></i> Dash
                                        </td>
                                        <td>
                                            Using - Card *******2321
                                        </td>
                                        <td class="text-success">-0.000242 BTC</td>
                                        <td>-0.125 USD</td>
                                    </tr>
                                    <tr>
                                        <td><span class="sold-thumb"><i class="la la-arrow-down"></i></span>
                                        </td>
                                        <td>
                                            <span class="badge badge-danger">Sold</span>
                                        </td>
                                        <td>
                                            <i class="cc BTC"></i> Bitcoin
                                        </td>
                                        <td>
                                            Using - Card *******2321
                                        </td>
                                        <td class="text-danger">-0.000242 BTC</td>
                                        <td>-0.125 USD</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-include src="'templates/includes/footer.html'"></div>
