<div ng-include src="'templates/includes/header.html'"></div>


<div ng-include src="'templates/includes/side-nav.html'"></div>


<div class="page-title dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-title-content">
                    <p>Welcome Back,
                        <span> Maria Pascle</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-12">
                <exchange-form></exchange-form>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="buyer-seller">
                            <div class="d-flex justify-content-between mb-3">
                                <div class="buyer-info">
                                    <div class="media">
                                        <img class="mr-3" src="images/profile/2.png" alt="" width="50">
                                        <div class="media-body">
                                            <h4>Buyer</h4>
                                            <h5>Michael John</h5>
                                            <a href="#">hello@example.com</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="seller-info text-right">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4>Seller</h4>
                                            <h5>John Doe</h5>
                                            <a href="#">hello@example.com</a>
                                        </div>
                                        <img class="ml-3" src="images/profile/1.png" alt="" width="50">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td><span class="text-primary">You are selling</span></td>
                                        <td><span class="text-primary">0.00254 BTC</span></td>
                                    </tr>
                                    <tr>
                                        <td>Payment Method</td>
                                        <td>Bank of America Bank ***********5245</td>
                                    </tr>
                                    <tr>
                                        <td>Exchange Rate</td>
                                        <td>0.00212455 BTC</td>
                                    </tr>
                                    <tr>
                                        <td>Fee</td>
                                        <td>$28.00 USD</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>$854.00 USD</td>
                                    </tr>
                                    <tr>
                                        <td>Vat</td>
                                        <td>
                                            <div class="text-danger">$25.00 USD</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Sub Total</td>
                                        <td> $1232.00 USD</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-include src="'templates/includes/footer.html'"></div>
