            <!--------------------
START - Mobile Menu
-------------------->
<nav-test></nav-test>       <!--------------------
END - Main Menu
-------------------->
            <div class="content-w">
                <!--------------------
START - Top Bar
-------------------->
                <div class="top-bar color-scheme-transparent">
                    <!--------------------
START - Top Menu Controls
-------------------->
                    <div class="top-menu-controls">
                        <div class="element-search autosuggest-search-activator">
                            <input placeholder="Start typing to search..." type="text">
                        </div>
                        <!--------------------
START - Messages Link in secondary top menu
-------------------->
                        <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left"><i class="os-icon os-icon-mail-14"></i>
                            <div class="new-messages-count">12</div>
                            <div class="os-dropdown light message-list">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <div class="user-avatar-w"><img alt="" src="img/avatar1.jpg"></div>
                                            <div class="message-content">
                                                <h6 class="message-from">John Mayers</h6>
                                                <h6 class="message-title">Account Update</h6></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user-avatar-w"><img alt="" src="img/avatar2.jpg"></div>
                                            <div class="message-content">
                                                <h6 class="message-from">Phil Jones</h6>
                                                <h6 class="message-title">Secutiry Updates</h6></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user-avatar-w"><img alt="" src="img/avatar3.jpg"></div>
                                            <div class="message-content">
                                                <h6 class="message-from">Bekky Simpson</h6>
                                                <h6 class="message-title">Vacation Rentals</h6></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user-avatar-w"><img alt="" src="img/avatar4.jpg"></div>
                                            <div class="message-content">
                                                <h6 class="message-from">Alice Priskon</h6>
                                                <h6 class="message-title">Payment Confirmation</h6></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="logged-user-w">
                            <div class="logged-user-i">
                                <div class="avatar-w"><img alt="" src="img/avatar1.jpg"></div>
                                <div class="logged-user-menu color-style-bright">
                                    <div class="logged-user-avatar-info">
                                        <div class="avatar-w"><img alt="" src="img/avatar1.jpg"></div>
                                        <div class="logged-user-info-w">
                                            <div class="logged-user-name">Maria Gomez</div>
                                            <div class="logged-user-role">Administrator</div>
                                        </div>
                                    </div>
                                    <div class="bg-icon"><i class="os-icon os-icon-wallet-loaded"></i></div>
                                    <ul>
                                        <li><a href="apps_email.html"><i class="os-icon os-icon-mail-01"></i><span>Incoming Mail</span></a></li>
                                        <li><a href="users_profile_big.html"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile Details</span></a></li>
                                        <li><a href="users_profile_small.html"><i class="os-icon os-icon-coins-4"></i><span>Billing Details</span></a></li>
                                        <li><a href="#"><i class="os-icon os-icon-others-43"></i><span>Notifications</span></a></li>
                                        <li><a href="#"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--------------------
END - User avatar and menu in secondary top menu
-------------------->
                    </div>
                    <!--------------------
END - Top Menu Controls
-------------------->
                </div>

                <div class="content-i">
                    <div class="content-box">
                              <div class="element-wrapper">
                                    <div class="element-box">
                                        <div class="table-responsive">
                                            <table class="table table-lightborder">
                                                <thead>
                                                    <tr>
                                                        <th>Customer Name</th>
                                                        <th class="text-center">Email</th>
                                                        <th class="text-center">Phone</th>
                                                        <th class="text-center">Date Registered</th>
                                                        <th class="text-right">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar1.jpg"><span class="d-none d-xl-inline-block">John Mayers</span></div>
                                                        </td>
                                                        <td class="text-center">johnmayers@instantryde.com</td>
                                                        <td class="text-center">+234 587 345 46</td>
                                                        <td class="text-center"><span>Today</span><span class="smaller lighter">1:52am</span></td>
                                                        <td class="text-right"><span class="status-pill smaller green"></span><span>Active</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar2.jpg"><span class="d-none d-xl-inline-block">Kelly Brans</span></div>
                                                        </td>
                                                        <td class="text-center">kellybrans@instantryde.com</td>
                                                        <td class="text-center">+234 587 345 46</td>
                                                        <td class="text-center"><span>Jan 19th</span><span class="smaller lighter">3:22pm</span></td>
                                                        <td class="text-right"><span class="status-pill smaller green"></span><span>Active</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar3.jpg"><span class="d-none d-xl-inline-block">Tim Howard</span></div>
                                                        </td>
                                                        <td class="text-center">timhoward@instantryde.com</td>
                                                        <td class="text-center">+234 587 345 46</td>
                                                        <td class="text-center"><span>Yesterday</span><span class="smaller lighter">7:45am</span></td>
                                                        <td class="text-right"><span class="status-pill smaller green"></span><span>Active</span></td>
                                                    </tr>
													<tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar1.jpg"><span class="d-none d-xl-inline-block">John Mayers</span></div>
                                                        </td>
                                                        <td class="text-center">johnmayers@instantryde.com</td>
                                                        <td class="text-center">+234 587 345 46</td>
                                                        <td class="text-center"><span>Today</span><span class="smaller lighter">1:52am</span></td>
                                                        <td class="text-right"><span class="status-pill smaller green"></span><span>Active</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar2.jpg"><span class="d-none d-xl-inline-block">Kelly Brans</span></div>
                                                        </td>
                                                        <td class="text-center">kellybrans@instantryde.com</td>
                                                        <td class="text-center">+234 587 345 46</td>
                                                        <td class="text-center"><span>Jan 19th</span><span class="smaller lighter">3:22pm</span></td>
                                                        <td class="text-right"><span class="status-pill smaller green"></span><span>Active</span></td>
                                                    </tr>
													<tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar1.jpg"><span class="d-none d-xl-inline-block">John Mayers</span></div>
                                                        </td>
                                                        <td class="text-center">johnmayers@instantryde.com</td>
                                                        <td class="text-center">+234 587 345 46</td>
                                                        <td class="text-center"><span>Today</span><span class="smaller lighter">1:52am</span></td>
                                                        <td class="text-right"><span class="status-pill smaller green"></span><span>Active</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="user-with-avatar"><img alt="" src="img/avatar3.jpg"><span class="d-none d-xl-inline-block">Tim Howard</span></div>
                                                        </td>
                                                        <td class="text-center">timhoward@instantryde.com</td>
                                                        <td class="text-center">+234 587 345 46</td>
                                                        <td class="text-center"><span>Yesterday</span><span class="smaller lighter">7:45am</span></td>
                                                        <td class="text-right"><span class="status-pill smaller green"></span><span>Active</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
											<div class="controls-below-table">
                                            <div class="table-records-info">Showing records 1 - 6</div>
                                            <div class="table-records-pages">
                                                <ul>
                                                    <li><a href="#">Previous</a></li>
                                                    <li><a class="current" href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                    <li><a href="#">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                    <div class="floated-colors-btn second-floated-btn">
                            <div class="os-toggler-w">
                                <div class="os-toggler-i">
                                    <div class="os-toggler-pill"></div>
                                </div>
                            </div><span>Dark </span><span>Colors</span></div>
                        <!--------------------
END - Color Scheme Toggler
-------------------->
                        <div class="floated-chat-w">
                            <div class="floated-chat-i">
                                <div class="chat-close"><i class="os-icon os-icon-close"></i></div>
                                <div class="chat-head">
                                    <div class="user-w with-status status-green">
                                        <div class="user-avatar-w">
                                            <div class="user-avatar"><img alt="" src="img/avatar1.jpg"></div>
                                        </div>
                                        <div class="user-name">
                                            <h6 class="user-title">John Mayers</h6>
                                            <div class="user-role">Account Manager</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-messages">
                                    <div class="message">
                                        <div class="message-content">Hi, how can I help you?</div>
                                    </div>
                                    <div class="date-break">Mon 10:20am</div>
                                    <div class="message">
                                        <div class="message-content">Hi, my name is Mike, I will be happy to assist you</div>
                                    </div>
                                    <div class="message self">
                                        <div class="message-content">Hi, I tried ordering this product and it keeps showing me error code.</div>
                                    </div>
                                </div>
                                <div class="chat-controls">
                                    <input class="message-input" placeholder="Type your message here..." type="text">
                                    <div class="chat-extra"><a href="#"><span class="extra-tooltip">Attach Document</span><i class="os-icon os-icon-documents-07"></i></a><a href="#"><span class="extra-tooltip">Insert Photo</span><i class="os-icon os-icon-others-29"></i></a><a href="#"><span class="extra-tooltip">Upload Video</span><i class="os-icon os-icon-ui-51"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!--------------------
END - Chat Popup Box
-------------------->
                    </div>
                </div>
            </div>
        </div>
        <div class="display-type"></div>
    </div>