

        <div ng-include src="'templates/includes/header.html'"></div>
        <div ng-include src="'templates/includes/side-nav.html'"></div>
        
        <div class="page-title dashboard">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="page-title-content">
                            <p>Welcome Back,
                                <span> Maria Pascle</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <ul class="text-right breadcrumbs list-unstyle">
                            <li><a href="settings.html">Settings </a></li>
                            <li class="active"><a href="#">Security</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-4">
                        <div ng-include src="'templates/includes/settings-nav.html'"></div>
                    </div>
                    <div class="col-xl-9 col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Reset Password</h4>
                            </div>
                            <form method="post" name="myform" class="personal_validate card-body">
                                <div class="form-row">
                                  <div class="form-group col-xl-12">
                                    <label class="mr-sm-2">Current Password</label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      placeholder="Maria "
                                      name="firstName"
                                    />
                                  </div>
                                  <div class="form-group col-xl-12">
                                    <label class="mr-sm-2">New Password</label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      placeholder="Pascle"
                                      name="lastName"
                                    />
                                  </div>
                                  <div class="form-group col-xl-12">
                                    <label class="mr-sm-2">Confirm Password</label>
                                    <input
                                      type="email"
                                      class="form-control"
                                      placeholder="Hello@example.com"
                                      name="email"
                                    />
                                  </div>
                                  <div class="form-group col-12">
                                    <button class="btn btn-success pl-5 pr-5">Change Password</button>
                                  </div>
                                  </form>
                                </div>

                                <div class="row my-5 card">
                                    <div class="card-header">
                                        <h4 class="card-title">Two Factor Authentication</h4>
                                    </div>
                                    <form method="post" name="myform" class="personal_validate card-body">
                                        <div class="form-row">
                                          <div class="form-group col-xl-12">
                                            <label class="mr-sm-2">Current Password</label>
                                            <input
                                              type="text"
                                              class="form-control"
                                              placeholder="Maria "
                                              name="firstName"
                                            />
                                          </div>
                                          <div class="form-group col-xl-12">
                                            <label class="mr-sm-2">New Password</label>
                                            <input
                                              type="text"
                                              class="form-control"
                                              placeholder="Pascle"
                                              name="lastName"
                                            />
                                          </div>
                                          <div class="form-group col-xl-12">
                                            <label class="mr-sm-2">Confirm Password</label>
                                            <input
                                              type="email"
                                              class="form-control"
                                              placeholder="Hello@example.com"
                                              name="email"
                                            />
                                          </div>
                                          </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div ng-include src="'templates/includes/footer.html'"></div>
