

<div ng-include src="'templates/includes/header.html'"></div>

<div ng-include src="'templates/includes/side-nav.html'"></div>

<div class="page-title dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-title-content">
                    <p>Welcome Back,
                        <span> Maria Pascle</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-xxl-12">
                <div class="card">
                    <div class="card-header border-0 py-0">
                        <h4 class="card-title">Transact</h4>
                        <h2 class="card-title">It is always good to have more money o you</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-xl-4 col-lg-6 col-xxl-6">
                                <div class="widget-card">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="#!/add-funds" class="widget-stat">
                                            <div class="coin-title">
                                                <span><i class="fas fa-plus-circle"></i></span>
                                            </div>
                                            <h4>Add Funds</h4>
                                            <h5 class="d-inline-block ml-2 mb-3">
                                                Add to your wealth
                                            </h5>
                                        </a>
                                        <div id="ltcChart"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 col-xxl-6">
                                <div class="widget-card">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="#" class="widget-stat">
                                            <div class="coin-title">
                                                <span><i class="fas fa-hands"></i></span>
                                            </div>
                                            <h4>Request Funds</h4>
                                            <h5 class="d-inline-block ml-2 mb-3">
                                                Withdraw money to your account
                                            </h5>
                                        </a>
                                        <div id="btcChart"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 col-xxl-6">
                                <div class="widget-card">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="#!/exchange" class="widget-stat">
                                            <div class="coin-title">
                                                <span><i class="fa fa-exchange-alt"></i></span>
                                            </div>
                                            <h4>Exchange</h4>
                                            <h5 class="d-inline-block ml-2 mb-3">
                                                Convert your btc to Naira
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 col-xxl-6">
                                <div class="widget-card">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="#" class="widget-stat">
                                            <div class="coin-title">
                                                <span><i class="fa fa-money-check-alt"></i></span>
                                            </div>
                                            <h4>Add an account</h4>
                                            <h5 class="d-inline-block ml-2 mb-3">
                                                Supply a new bank account
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include src="'templates/includes/footer.html'"></div>